@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}

/*--------------- shared style  ------------------*/
.text-center{
    text-align: center;
}
/* section{
    margin-bottom: 50px;
} */

/* header style starts here */
.banner-container{
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url(../images/Banner\ Image.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    margin-top: 30px;
}
.banner-content h3{
    font-size: 32px;
}
 
.banner-content h1{
    font-size: 72px;
}
/* header style rends here */

/* 65% style starts here */
.offer-section{
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}
.offer-text h1{
    font-size: 50px;
    font-weight: 700;
    color:red;
}
.offer-text p{
    font-size: 18px;
    font-weight: 400;
    color: red;
}
.offer-image img {
    width: 70%;
    height: 300px;
    margin-left: 90px;
}
/* 65% style ends here */

/* midnight celebrations starts */
.midnight-party-container{
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url(../images/midnight.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.party-description{
    color: white;
    width: 50%;
}
.party-description h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 11%;
}
.party-description p{
    font-size: 14px;
    margin-bottom: 20px;
}

/* midnight celebrations ends */

/* party time table starts  */
.party-time-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.party-time-container h3{
    margin-bottom: 10px;
}
.party-time-container button{
    padding: 12px 24px 12px 24px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: red;
    border-radius: 5px;
   
}
/* party time table ends  */
