@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}

/*--------------- shared style  ------------------*/
.text-center{
    text-align: center;
}
section{
    margin-bottom: 50px;
}

/* header style starts here */
.banner-container{
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url(../images/Banner\ Image.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.banner-content h3{
    font-size: 32px;
}
 
.banner-content h1{
    font-size: 72px;
}
/* header style rends here */

/* 65% style starts here */
.offer-section{
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}
.offer-text h1{
    font-size: 50px;
    font-weight: 700;
    color:red;
}
.offer-text p{
    font-size: 18px;
    font-weight: 400;
    color: red;
}
.offer-image img {
    width: 70%;
    height: 300px;
    margin-left: 90px;
}
/* 65% style ends here */

