@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}
body p{
    font-size: 14px;
    color: rgba(7, 2, 17, 0.6);
}
/*--------------- shared style  ------------------*/
.text-center{
    text-align: center;
}
.red-text{
    color: red;
}


/* header style starts here */
.banner-container{
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url(../images/Banner\ Image.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    margin-top: 30px;
}
.banner-content h3{
    font-size: 32px;
}
 
.banner-content h1{
    font-size: 72px;
}
/* header style rends here */


/* 65% style starts here */
.offer-section{
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}
.offer-text h1{
    font-size: 50px;
    font-weight: 700;
    color:red;
}
.offer-text p{
    font-size: 18px;
    font-weight: 400;
    color: red;
}
.offer-image img {
    width: 70%;
    height: 300px;
    margin-left: 90px;
}
/* 65% style ends here */


/* midnight celebrations starts */
.midnight-party-container{
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url(../images/midnight.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.party-description{
    color: white;
    width: 50%;
}
.party-description h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 11%;
}
.party-description p{
    font-size: 14px;
    margin-bottom: 20px;
}

/* midnight celebrations ends */


/* party time table starts  */
.party-time-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.party-time-container h3{
    margin-bottom: 10px;
}
.party-time-container button{
    padding: 12px 24px 12px 24px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
   
}
/* party time table ends  */


/* coming soon starts */
.coming-soon-container{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
   
}
.coming-soon-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.coming-soon-content >div{
    width: 30%;
}
.middle-part img{
   width: 70%;
   border: 10px solid red;
   border-radius: 50%;
   padding: 20px;
}
.right-side{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.right-side img{
   width: 30%;
}
.left-side h2,p ,.right-side h1, p{
    margin-bottom: 10px;
}
/* coming soon ends */
 

/* holiday section starts */
.holiday-section-container{
    width: 1320px;
    height: 500px;
    margin: 0 auto;
}
.holiday-description{
    padding-bottom: 40px;
}
.holiday-description h1{
    font-size: 35px;
}
/* holiday section ends */

/* discount section starts */
.red-bg{
    width: 1320px;
    height: 130px;
    background: rgb(255, 0, 0);
}
.holiday-images{
    position: relative;
}
.red-bg{
    position: absolute;
    top: 250px;
    border-radius: 0px 0px 20px 20px;
}
.flower-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    position: absolute;
    z-index: 1;
}
.discount-image{
    width: 30%;
}
.flower {
    width:40% ;
}
/* discount section ends */

/* portfolio section starts */
.portfolio-section-container{
    width: 1320px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 120px;
}
.portfolio-text h1{
   font-size: 25px;
   font-weight: 800;
   margin: 10px 0px;
}
.offer-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
}
/* portfolio section ends */

/* newsletter starts  */
.newsletter-container{
    width: 1320px;
    height: 450px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newsletter-container h1{
      font-size: 25px;
      font-weight: 800;
      margin-bottom: 7px;

}
.subscribe-section{
    margin-top: 7px;
}
.input-field{
    padding: 11px;
    margin-right: 0px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    background-color: white;
}
.btn{
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
    border: none;
    margin-left: 0;
    color: white;
}
/* newsletter ends */